* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
}
img {
    height: 10%;
    width: 20%;
    
}
.background1 {
    background-color: #529cf1
}