<section class="premium-section">
    <h3>¿Por qué pasarte a Premium?</h3>
<div class="list-premium">
    <article class="article article-1">
        <img class="img-1" src="./images/benefit-1.png" alt="logo">
        <div>
            <h4>Descarga música.</h4>
            <p>Llévala siempre contigo.</p>
        </div>
    </article>
    <article class="article article-2">
        <img class="img-2" src="./images/benefit-2.png" alt="logo">
        <div>
            <h4>Sin anuncios.</h4>
            <p>Disfruta de música sin interrupciones.</p>
        </div>
    </article>
    <article class="article article-3">
        <img class="img-3" src="./images/benefit-3.png" alt="logo">
        <div>
            <h4>Escucha lo que quieras.</h4>
            <p>Incluso en el móvil.</p>
        </div>
    </article>
    <article class="article article-4">
        <img class="img-4" src="./images/benefit-4.png" alt="logo">
        <div>
            <h4>Salta todas las canciones que quieras.</h4>
            <p>Simplemente dale a siguiente.</p>
        </div>
    </article>
</div>
</section>