@import 'core/variables';
@import 'core/reset';
@import 'layout/header'; 
@import 'layout/parteazul';
@import 'layout/parteblanca';
@import 'layout/footer.scss';



.dancer {
    display: none;
}

@media all and (min-width: 700px) {
    .nav {
        display: block;
    }
    .figure {
        display: none;
    }
    .nav ul {
        display: flex;
        list-style: none;
        gap: 15px;
    }
    .background1 {
        background-image: url(./images/premium_dancer.png);
        background-repeat: no-repeat;
        background-position: right bottom;
    }
}
/* @media all and (min-width: 1000) {
    .nav {
        display: block;
    }
    .figure {
        display: none;
    }
    .nav ul {
        display: flex;
        list-style: none;
        gap: 15px;
    }
    .dancer {
        display: block;
    }
} */